<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>{article:title} | {site:name}</title>

		<meta name="description" content="{article:description}" />
		<!-- <meta name="color-scheme" content="dark" /> -->
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<header class="site-header">
			<h1>{site:name}</h1>
			<nav>
				<h2>Breadcrumb navigation</h2>

				<ol class="breadcrumb">
					<li><a href="/index.html">Home</a></li>
					<li>{article:title}</li>
				</ol>
			</nav>
		</header>

		<main class="site-content">
			<article>
				<header>
					<h1>{article:title}</h1>

					<section class="toc">
						<h2>Table of contents</h2>

						{article:toc}
					</section>
				</header>

				<p><strong>Warning:</strong> this website is under construction.</p>

				{article:content}

				<footer>
					<dl class="article-info">
						<div>
							<dt>Created</dt>
							<dd>{article:creation_date}</dd>
						</div>
						<div>
							<dt>Last modified</dt>
							<dd>{article:modification_date}</dd>
						</div>
					</dl>
				</footer>
			</article>
		</main>

		<footer class="site-footer">
			<p>Copyright {author:name}</p>
		</footer>
	</body>
</html>
